/* general stuff */

:root {
    --grid-color: #cecece;
    --time-color: #777;
    --slot-hover-color: #eee;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --font-color: #222;
    --color-red: rgb(190, 35, 15);
    --color-blue: rgb(54, 92, 175);
    --color-green: rgb(21, 129, 21);
    --color-orange: rgb(233, 153, 4);
    --slotHeight: 30px;
    --timeWidth: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
    overflow-x: hidden;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background: none;
}

/* header */

.header {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.header h1 {
    color: var(--color-blue);
    font-weight: 400;
}

.header i {
    cursor: pointer;
    margin: 0px 5px;
    color: var(--time-color);
    transition: all 80ms linear;
}

.header i:hover {
    color: var(--font-color);
    border-color: var(--font-color);
}

.header .subtitle {
    font-size: 18px;
    opacity: 0.8;
}

/* email display */

#emailDisplay {
    position: absolute;
    top: 2px;
    right: 25px;
    opacity: 0.6;
}

/* controls */

.weekControls {
    position: absolute;
    left: 20px;
    font-size: 22px;
}

.generalControls {
    position: absolute;
    right: 20px;
}

.generalControls i {
    line-height: 25px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid var(--time-color);
    border-radius: 50%;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* calendar */

#calendar {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: none;
}

/* column headers */

#columnHeaders {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.columnHeader {
    text-align: center;
    padding: 10px 0px;
    height: 65px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid var(--grid-color);
    border-right: 1px solid var(--grid-color);
    border-bottom: 1px solid var(--grid-color);
    width: 100%;
    background-color: var(--slot-hover-color);
}

.columnHeader h2 {
    font-weight: 400;
    font-size: 22px;
}

.columnHeader:first-child {
    width: 100%;
    min-width: var(--timeWidth);
    max-width: var(--timeWidth);
    border-top: none;
    background: none;
}

.columnHeader .date {
    font-size: 15px;
    color: var(--time-color);
}

.columnHeader > i {
    padding: 0px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 24px;
    color: var(--time-color);
    cursor: pointer;
    display: none;
    align-items: center;
}

.columnHeader > i:hover {
    color: var(--font-color);
}

.columnHeader .fa-chevron-right {
    right: 0px;
}

.columnHeader .fa-chevron-left {
    left: 0px;
}

.columnHeader.currentDay {
    background: var(--grid-color);
}

.columnHeader.currentDay .date {
    color: var(--font-color);
}

/* event container */

#eventContainer {
    display: flex;
}

/* columns */

.dayTime {
    width: 100%;
    min-width: var(--timeWidth);
    max-width: var(--timeWidth);
    text-align: center;
    color: var(--time-color);
    border-right: 1px solid var(--grid-color);
}

.day {
    width: 100%;
    border-right: 1px solid var(--grid-color);
    position: relative;
}

/* single day display styles */

#calendar.singleDay {
    width: min(95%, 800px);
    margin-left: auto;
    margin-right: auto;
}

#calendar.singleDay .day:not(.current),
#calendar.singleDay .columnHeader:not(.current) {
    display: none;
}

#calendar.singleDay .columnHeader.current {
    border-left: 1px solid var(--grid-color);
}

#calendar.singleDay .columnHeader.current > i {
    display: flex;
}

#calendar.singleDay .date {
    color: var(--font-color);
}

/* slots and times */

.slot,
.time {
    border-bottom: 1px solid var(--grid-color);
    height: var(--slotHeight);
}

.time {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--grid-color);
}

.time > span {
    background-color: white;
    padding: 0px 5px;
    border-radius: 4px;
    transform: translateY(calc(-0.5 * var(--slotHeight)));
}

.slot:hover {
    cursor: pointer;
    background-color: var(--slot-hover-color);
}

.time.currentTime {
    background-color: var(--slot-hover-color);
}

/* events */

.event {
    position: absolute;
    left: 1px;
    width: calc(100% - 2px);
    border-radius: 4px;
    padding: 2px 5px;
    color: white;
    overflow: hidden;
    cursor: pointer;
    transition: filter 160ms linear;
}

.event:hover {
    filter: brightness(1.1);
}

.shortEvent {
    padding: 0px 5px;
    font-size: 12px;
}

.veryShortEvent {
    margin-top: -1px;
    padding: 0px 5px;
    font-size: 10px;
}

/* event modal */

#modalContainer {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

#eventModal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--shadow-color);
    padding: 20px;
    max-width: min(450px, 90%);
    flex-grow: 1;
}

#errors {
    color: var(--color-red);
}

#modalTitle {
    margin-bottom: 20px;
}

#eventModal label {
    font-weight: bold;
    display: inline-block;
    margin: 20px 10px 5px 0px;
}

.shortInput {
    border-bottom: 1px solid var(--grid-color);
    padding: 2px 1px;
}

.shortInput:focus {
    border-bottom: 1px solid var(--font-color);
}

#eventModal input[type="time"] {
    max-width: 7em;
}

#eventTitle {
    width: 95% !important;
}

#eventStart {
    margin-right: 10px;
}

#eventEnd {
    margin-left: 10px;
}

#eventDescription {
    border: 1px solid var(--grid-color);
    width: 95% !important;
    height: 170px;
    min-height: 40px;
    resize: vertical;
    padding: 4px;
}

#eventDescription:focus {
    border: 1px solid var(--font-color);
}

#eventControls {
    margin: 25px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    background-color: var(--color-blue);
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

#deleteButton {
    background-color: var(--color-red);
}

.button:hover,
.button:focus {
    opacity: 0.8;
}

/* colors in event modal */

#colors {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.color {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: content-box;
    cursor: pointer;
}

.color.active,
.color:focus,
.color:hover {
    border: 5px solid var(--grid-color);
}

.color-red {
    background-color: var(--color-red);
}

.color-blue {
    background-color: var(--color-blue);
}

.color-green {
    background-color: var(--color-green);
}

.color-orange {
    background-color: var(--color-orange);
}

/* auth Form */

.formContainer {
    max-width: 350px;
    margin: 40px auto;
    padding: 0px 10px;
    position: relative;
}

.authForm {
    width: calc(100% - 20px);
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #0004;
    text-align: center;
    background-color: white;
    position: absolute;
}

#registerForm {
    display: none;
}

.authForm h2 {
    font-weight: 400;
    font-size: 28px;
}

.authForm .changeBtn {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-blue);
}

.authForm .changeBtn:hover,
.authForm .changeBtn:focus {
    text-decoration: underline;
}

.authForm > div {
    margin: 25px 0px;
}

.authForm label {
    display: block;
}

.authForm input[type="password"],
.authForm input[type="email"] {
    border: 1px solid #555;
    margin: 2px 0px;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
}

.authForm input[type="password"]:focus,
.authForm input[type="email"]:focus {
    background: #eee;
}

.authForm .question {
    margin-top: 20px;
    font-size: 16px;
}

.authError {
    color: var(--color-red);
}

/* media queries */

@media (max-width: 940px) {
    .header {
        padding: 30px 10px 10px 10px;
        flex-direction: column;
    }
    .weekControls,
    .generalControls {
        position: unset;
        left: unset;
        right: unset;
        margin: 10px 0px;
    }
    #emailDisplay {
        right: 2px;
    }
    #calendar:not(.singleDay) .long {
        display: none;
    }
}

@media (max-width: 480px) {
    #eventModal .button {
        padding: 5px 10px;
    }
    :root {
        --timeWidth: 65px;
    }
    .columnHeader h2 {
        font-size: 20px;
    }
    .columnHeader .date {
        font-size: 14px;
    }
}
