.header {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.header h1 {
    color: var(--color-blue);
    font-weight: 400;
}

.header .subtitle {
    font-size: 18px;
    opacity: 0.8;
}

#emailDisplay {
    position: absolute;
    top: 2px;
    right: 25px;
    opacity: 0.6;
}

#githubLink {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;
}
