.header {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.header h1 {
    color: var(--color-blue);
    font-weight: 400;
}

.header i {
    cursor: pointer;
    margin: 0px 5px;
    color: var(--time-color);
    transition: all 80ms linear;
}

.header i:hover {
    color: var(--font-color);
    border-color: var(--font-color);
}

.header .subtitle {
    font-size: 18px;
    opacity: 0.8;
}

#emailDisplay {
    position: absolute;
    top: 2px;
    right: 25px;
    opacity: 0.6;
}
